<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" href="stylesheets/chatbox.css">
  <link rel="shortcut icon" href="/assets/images/dots.ico" type="image/x-icon" />
        <meta name="description" content="3 dots">
  <title>human:kind</title>
</head>

=======
<!-- adds header.ejs -->
<%- include("partials/header") %>
>>>>>>> shar
<%- include("partials/inNavbar") %>

<div class="container">
  <div class="row">
    <a href="/dashboard" class="btn">Leave Room</a>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <header class="chat-header">
          <div class="chat-welcome">
            <h3>Conversation between</h3>
            <div class="chat-group"><img class="chat-pic" src=<%= data.friendpic %> alt=""> <%= data.friend %></div> 
            <h3>&</h3> 
            <div class="chat-group"><img class="chat-pic" src=<%= data.displayImg %> alt=""> <%= data.displayName %></div>
          </div>
      </header>
      <main class="chat-main">
        <div class="chat-messages"></div>
      </main>
      <div class="chat-form-container">
        <form id="chat-form">
          <input
            id="msg"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
          />
          <button class="btn"><i class="fas fa-paper-plane"></i> Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer") %>