<!-- adds header.ejs -->
<%- include("partials/header") %>

<div class="container">
    <div class="row">
        <div class="col">
            <img width="100px" height="100px" style="border-radius: 50px" src=<%= data.displayImg %> alt=""> 
            <h1 class="text-center mt-5">Hello, <%= data.displayName %></h1><br>
        </div>
    </div>
  
    <div class="col">
        <h3 class="text-left mt-5">Find matches:</h3><br>
        <a class="btn btn-info btn-lg" href="/results" role="button">Show me matches</a>
        <a class="btn btn-info btn-lg" href="/edit" role="button">Update search preferences</a>
    </div>
    
    <div class="p-2 m-1">
        <h3 class="text-left mt-5">Your Saved Matches:</h2>
        <!-- show each saved match -->
        <!-- we need to update savedMatches to hold a user's _id so we can query specific users details -->
        <% data.savedMatches.forEach((el) => { %>
            <% console.log('saved match:  ', el) %>
             <!-- currently displaying saved user name OR _id depending on if user was saved before/after _id incorporated -->
            <p><%= el %></p>
        <% }) %>
    </div>
   
</div>
    
<!-- adds footer.ejs -->
<%- include("partials/footer") %>