<!-- adds header.ejs -->
<%- include("partials/header") %>

<div class="container">
    
    <div class="row">
        <div class="col">
            <img class="profile-big" src=<%= data.displayImg %> alt=""> 
            <h1 class="text-center mt-5">Hello, <%= data.displayName %></h1><br>
        </div>
    </div>
  
    <div class="col">
        <h3 class="text-left mt-5">Find matches:</h3><br>
        <a class="btn btn-info btn-lg" href="/results" role="button">Show me matches</a>
        <a class="btn btn-info btn-lg" href="/edit" role="button">Update search preferences</a>
    </div>
    
    <div class="col">
        <h3 class="text-left mt-5">Your Saved Matches:</h2>
        <!-- show each saved match -->
        <% data.savedMatches.forEach((el) => { %>
            <!-- currently displaying saved user name OR _id depending on if user was saved before/after _id incorporated -->
            <p><%= el.firstName %> <%= el.lastName %>, <%= el.bio %></p>
        <% }) %>
    </div>
   
</div>
    
<!-- adds footer.ejs -->
<%- include("partials/footer") %>