<!-- adds header.ejs -->
<%- include("partials/header") %>
<%- include("partials/inNavbar") %>

<div class="container-md">
    
    <div class="row mb-md-5 mb-0">
        <div id="dashboard-welcome" class="col">
            <a class="logo-small" href="/dashboard">human:kind</a>
            <h2>Your Collection</h2>
            <a class="button" href="/results" role="button">Find folks</a>
        </div>
    </div>

    <!-- empty state: -->
    <% if (data.savedMatches.length < 1) { %>
        <div class="row mb-md-5 mb-0">
            <div id="empty-collection" class="col">
                <div id="empty-hello">
                    <h4>Hello, <%= data.displayName %></h4>
                </div>
                <img src=<%= data.displayImg %> alt=""> 
                <p>Find folks to add to your collection</p>
            </div>
        </div>
     <% } %>

    <div class="row  card-grid">
            <!-- show each saved match -->
            <% data.savedMatches.forEach((el) => { %>
                <div class="col px-0">
                    <div class="card dashcard">
                        <div class="contents">
                            <img class="dash-circle" src=<%= el.pic %> alt="user photo">
                            <div class="info">
                                <div>
                                    <h4><%= el.username %></h4>
                                    <p class="small-bio"><%= el.bio %></p> 
                                </div>
                                <p class="small-details">
                                    <%= el.ageRange %><br/>
                                    <%= el.gender %>
                                </p> 
                            </div> 
                        </div>
                        <form class="dashboard-deletion" action="/delete" method="post">
                            <button type="submit" class="button-close-x" name="matchId" value=<%= el._id %> formaction="/delete">
                                <img src="/assets/images/close-x2.svg" alt="">
                            </button>
                        </form>
                        <form class="dashboard-message" action="/message" method="post">
                            <button type="submit" class="button-dash-msg" formaction="/message?friend=<%= el.username %>&friendpic=<%= el.pic %>">
                                <img src="/assets/images/chat1.svg" alt="">
                            </button>
                        </form>
                    </div>
                </div>
            <% }) %>
    </div>
</div>
    
<!-- adds footer.ejs -->
<%- include("partials/footer") %>