<!-- adds header.ejs -->
<%- include("partials/header") %>
<%- include("partials/inNavbar") %>

<div class="container-md">
    
    <div class="row mb-md-5 mb-0">
        <div id="dashboard-welcome" class="col">
            <div class="welcome-left">
                <img src=<%= data.displayImg %> alt=""> 
                <h4 class="text-start">Hello, <%= data.displayName %></h4>
            </div>
            <div class="welcome-right">
                <a class="btn btn-info btn-md" href="/results" role="button">Show me matches</a>
            </div>
        </div>
    </div>
  
    <div class="row">
        <h5 class="text-left mt-5">Your Saved Matches</h5>
    </div>

    <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2">
            <!-- show each saved match -->
            <% data.savedMatches.forEach((el) => { %>
                <div class="col px-0">
                    <div class="card text-dark dashcard">
                        <div class="contents">
                            <img src=<%= el.pic %> alt="user photo">
                            <div class="info">
                                <h6><%= el.username %></h6>
                                <p><%= el.bio %></p> 
                                <!-- <p>< %= el.interests.join(', ') %></p>  -->
                                <div class="links">
                                  <a class="btn-tiny" href="/dashboard" role="button">Remove</a>     
                                  <a class="btn-tiny" href="/chat" role="button">Message</a>  
                                </div>
                                    
                            </div> 
                        </div>
                    </div>
                </div>
            <% }) %>
    </div>
</div>
    
<!-- adds footer.ejs -->
<%- include("partials/footer") %>