<!-- adds header.ejs -->
<%- include("partials/header") %>

<!-- <h1>These are your matches!</h1> -->
<!-- list of top 5 showing name, age, gender, pic, bio, and org matches in common with events available -->

<div class="container">
  <div class="row">
      <div class="col">
          <h1 class="text-center mt-5">These are your matches!</h1><br>
      </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3">
    
  <% matches.forEach((elem) => { %>
    <div class="col mb-4">
      <div class="card h-100">
        <div class="card-header" onclick="savedMatches.click()">
          <form action="/results" method="POST" id="save">
           <input type="checkbox" id="savedMatches" name="username" value=<%=elem.username %>>
           <span><h3 class="card-title"><%= elem.username %></h3></span>
          
        </div>
       
        <img src="/assets/images/<%=elem.pic%>.png" class="card-img-top" alt="avatar image">
          <div class="card-body">
                        
            <p class="card-text">Gender: <%= elem.gender %></p>
            <p class="card-text">Age Range: <%= elem.ageRange %></p>
            <p class="card-text">About myself: <%= elem.bio %></p>
            <p class="card-text">Interests in common: <%= elem.interests %></p>
          </div>
        
      </div>
    </div>
    
  <% }) %>             

  </div> 
<button type="submit" class="btn btn-primary btn-lg" >Save matches</i></button> 
<a class="btn btn-info btn-lg" href="/dashboard" role="button">Back to my Dashboard</a>
<a class="btn btn-warning btn-lg" href="/logout" role="button">Logout</a>
</form>

<!-- <a class="btn btn-info btn-lg" href='/logout' role="button">Logout</a> -->




<!-- adds footer.ejs -->
<%- include("partials/footer") %>
