<!-- adds header.ejs -->
<%- include("partials/header") %>
<%- include("partials/inNavbar") %>

<div class="container container-md">
  <div class="col">
    <div class="row mb-md-5 mb-0">
      <div id="dashboard-welcome" class="col">
        <!-- <a class="logo-small" href="/dashboard">human:kind</a> -->
        <!-- <h2>(filters to be here))</h2> -->
        <!-- determine which checkboxes to load as "checked" -->
        <% let filterGender = data.filters.gen %>
        <!-- filter results by gender -->
        <form action="/results" method="get" id="getMatches">
          <a class="logo-small" href="/dashboard">human:kind</a>
          <div class="filter-center">
            <p class="label">Gender:</p>
            <input type="checkbox" id="female" name="gender" value="female" <%= filterGender.includes('female') ? "checked" : "" %>>
            <label for="female">Female</label>
            <input type="checkbox" id="male" name="gender" value="male" <%= filterGender.includes('male') ? "checked" : "" %>>
            <label for="male">Male</label>
            <input type="checkbox" id="nonbinary" name="gender" value="nonbinary" <%= filterGender.includes('nonbinary') ? "checked" : "" %>>
            <label for="nonbinary">Nonbinary</label>
            <input type="checkbox" id="other" name="gender" value="other" <%= filterGender.includes('other') ? "checked" : "" %>>
            <label for="other">Other</label>
          </div>
          <button form="getMatches" type="submit" class="button" formaction="/results">find folks</button>
        </form>
        <!-- <a class="button" href="/results" role="button">Find folks</a> -->
    </div>
      
      
      <!-- <a class="button" href="/results" role="button">Find folks</a> -->
      <!-- <a class="btn btn-info btn-md" href="/results" role="button">See More</a> -->
    </div>

    <form action="/results" method="POST" id="savedMatches">
      <div class="row card-grid">
        <%# store random numbers to prevent duplicates %>
        <% let ranNumbers = []; %>
        <% for(let i = 0;  i < 3; i++) { %>
          <% let ran = Math.floor((Math.random() * data.matches.length -1) + 1); %>
          <% if (ranNumbers.includes(ran)) { %>
            <% ran = Math.floor((Math.random() * (data.matches.length -1)) + 1); %>
          <% } %>
        <% ranNumbers.push(ran) %>
            <div class="card results-card">
              <p class="results-age"><%= data.matches[ran].ageRange %><br/><%= data.matches[ran].gender[0]%></p>
              <img class="results-profile" src=<%= data.matches[ran].pic %> alt="profile photo">
              <div class="results-mid">
                <h3 class="card-title"><%= data.matches[ran].username %></h3>
                <p class="results-bio"><%= data.matches[ran].bio %></p>
                <div class="common-int">
                  <% data.matches[ran].interests.forEach(el => { %>
                    <a class="results-interests" href="/orgIndex#<%= el %>"><%= el %></a> 
                  <% }) %>
                </div>
             </div>
              <div class="results-low">
                <input type="checkbox" id="<%=data.matches[ran]._id %>" name="username" value=<%=data.matches[ran]._id %>>
                <label for="<%=data.matches[ran]._id %>">select</label>
                <form action="/message" method="post" id="message-form">
                  <button form="message-form" type="submit" class="button-dash-msg" formaction="/message?friend=<%= data.matches[ran].username %>&friendpic=<%= data.matches[ran].pic %>">
                    <img src="/assets/images/chat1.svg" alt="">
                  </button>
                </form>
              </div>
            </div>
        <% } %>
      </div>
      <!-- formaction="" only works with button type="submit" -->
      <button id="save-selection" form="savedMatches" type="submit" class="button" formaction="/results">Save selection</button>
    </form>
  </div>
</div> 

<%- include("partials/footer") %>