<!-- adds header.ejs -->
<%- include("partials/header") %>
<%- include("partials/inNavbar") %>

<div class="container container-md">
  <div class="col">
    <div class="row mb-md-5 mb-0">
      <div id="dashboard-welcome" class="col">
        <% console.log('data to display results #', data.matches.length) %>
        <!-- determine which checkboxes to load as "checked" -->
        <% let filterGender = data.filters.gen %>
        <% let filterAge = data.filters.age %>
        <!-- filter results by gender -->
        <form action="/results" method="get" id="getMatches">
          <a class="logo-small" href="/dashboard">human:kind</a>
          <div class="filter-center">
            <div class="genders">
              <p class="label">Gender:</p>
            <input type="checkbox" id="female" name="gender" value="female" <%= filterGender.includes('female') && !(filterGender.includes('male') && filterGender.includes('other') && filterGender.includes('nonbinary')) ? "checked" : "" %>>
            <label for="female">Female</label>
            <input type="checkbox" id="male" name="gender" value="male" <%= filterGender.includes('male') && !(filterGender.includes('female') && filterGender.includes('other') && filterGender.includes('nonbinary')) ? "checked" : "" %>>
            <label for="male">Male</label>
            <input type="checkbox" id="nonbinary" name="gender" value="nonbinary" <%= filterGender.includes('nonbinary') && !(filterGender.includes('male') && filterGender.includes('other') && filterGender.includes('female')) ? "checked" : "" %>>
            <label for="nonbinary">Nonbinary</label>
            <input type="checkbox" id="other" name="gender" value="other" <%= filterGender.includes('other') && !(filterGender.includes('male') && filterGender.includes('female') && filterGender.includes('nonbinary')) ? "checked" : "" %>>
            <label for="other">Other</label>
            </div>
            <div class="ages">
              <p class="label">Age:</p>
            <input 
              type="checkbox" 
              id="0-20" 
              name="age" 
              value="0-20" 
              <%= filterAge.includes('0-20') && !(filterAge.includes('20-30') && filterAge.includes('30-40') && filterAge.includes('40-50') && filterAge.includes('50-60') && filterAge.includes('60-70') && filterAge.includes('70+')) ? "checked" : "" %>
            >
            <label for="0-20">0-20</label>
            <input 
              type="checkbox" 
              id="20-30" 
              name="age" 
              value="20-30" 
              <%= filterAge.includes('20-30') && !(filterAge.includes('0-20') && filterAge.includes('30-40') && filterAge.includes('40-50') && filterAge.includes('50-60') && filterAge.includes('60-70') && filterAge.includes('70+')) ? "checked" : "" %>
            >
            <label for="20-30">20-30</label>
            <input 
              type="checkbox" 
              id="30-40" 
              name="age" 
              value="30-40" 
              <%= filterAge.includes('30-40') && !(filterAge.includes('0-20') && filterAge.includes('20-30') && filterAge.includes('40-50') && filterAge.includes('50-60') && filterAge.includes('60-70') && filterAge.includes('70+')) ? "checked" : "" %>
            >
            <label for="30-40">30-40</label>
            <input 
              type="checkbox" 
              id="40-50" 
              name="age" 
              value="40-50" 
              <%= filterAge.includes('40-50') && !(filterAge.includes('0-20') && filterAge.includes('20-30') && filterAge.includes('30-40') && filterAge.includes('50-60') && filterAge.includes('60-70') && filterAge.includes('70+')) ? "checked" : "" %>
            >
            <label for="40-50">40-50</label>
            <input 
              type="checkbox" 
              id="50-60" 
              name="age" 
              value="50-60" 
              <%= filterAge.includes('50-60') && !(filterAge.includes('0-20') && filterAge.includes('20-30') && filterAge.includes('30-40') && filterAge.includes('40-50') && filterAge.includes('60-70') && filterAge.includes('70+')) ? "checked" : "" %>
            >
            <label for="50-60">50-60</label>
            <input 
              type="checkbox" 
              id="60-70" 
              name="age" 
              value="60-70"" 
              <%= filterAge.includes('60-70') && !(filterAge.includes('0-20') && filterAge.includes('20-30') && filterAge.includes('30-40') && filterAge.includes('40-50') && filterAge.includes('50-60') && filterAge.includes('70+')) ? "checked" : "" %>
            >
            <label for="60-70">60-70</label>
            <input 
            type="checkbox" 
            id="70+" 
            name="age" 
            value="70+"" 
            <%= filterAge.includes('70+') && !(filterAge.includes('0-20') && filterAge.includes('20-30') && filterAge.includes('30-40') && filterAge.includes('40-50') && filterAge.includes('50-60') && filterAge.includes('60-70')) ? "checked" : "" %>
          >
          <label for="70+">70+</label>
            </div>
            
          </div>
          <button form="getMatches" type="submit" class="button" formaction="/results">find folks</button>
        </form>
    </div>
    </div>

    <form action="/results" method="POST" id="savedMatches">
      <div class="row card-grid">
        <% if (!data.matches.length) { %>
          <p>no results</p>
          <% } else { %>

        <%# store random numbers to prevent duplicates %>
        <% let ranNumbers = []; %>
        <% for(let i = 0;  i < 3; i++) { %>
          <% let ran = data.matches.length > 1 ? Math.floor((Math.random() * data.matches.length -1) + 1) : 0; %>
          <% if (ranNumbers.includes(ran)) { %>
            <% ran = Math.floor((Math.random() * (data.matches.length -1)) + 1); %>
          <% } %>
        <% if (data.matches.length > 3) {ranNumbers.push(ran)} %>
            <div class="card results-card">
              <p class="results-age"><%= data.matches[ran].ageRange %><br/><%= data.matches[ran].gender[0]%></p>
              <img class="results-profile" src=<%= data.matches[ran].pic %> alt="profile photo">
              <div class="results-mid">
                <h3 class="card-title"><%= data.matches[ran].username %></h3>
                <p class="results-bio"><%= data.matches[ran].bio %></p>
                <div class="common-int">
                  <% data.matches[ran].interests.forEach(el => { %>
                    <a class="results-interests" href="/orgIndex#<%= el %>"><%= el %></a> 
                  <% }) %>
                </div>
             </div>
              <div class="results-low">
                <input type="checkbox" id="<%=data.matches[ran]._id %>" name="username" value=<%=data.matches[ran]._id %>>
                <label for="<%=data.matches[ran]._id %>">select</label>
                <form action="/message" method="post" id="message-form">
                  <button form="message-form" type="submit" class="button-dash-msg" formaction="/message?friend=<%= data.matches[ran].username %>&friendpic=<%= data.matches[ran].pic %>">
                    <img src="/assets/images/chat1.svg" alt="">
                  </button>
                </form>
              </div>
            </div>
        <% } %>
        <% } %>
      </div>
      <!-- formaction="" only works with button type="submit" -->
      <button id="save-selection" form="savedMatches" type="submit" class="button" formaction="/results">Save selection</button>
    </form>
  </div>
</div> 

<%- include("partials/footer") %>